<table class="table table-striped table-hover table-bordered">
    <thread>
        <th>Tipo</th>
        <th>Cor</th>
        <th>Tamanho</th>
        <th>Quantidade</th>
    </thread>
    <tbody>
        <tr>
            <td>Camisa</td>
            <td>Preto</td>
            <td>S</td>
            <td><%= @camisaPretaS %></td>
        </tr>
        <tr>
            <td>Camisa</td>
            <td>Preto</td>
            <td>M</td>
            <td><%= @camisaPretaM %></td>
        </tr>
        <tr>
            <td>Camisa</td>
            <td>Preto</td>
            <td>G</td>
            <td><%= @camisaPretaG %></td>
        </tr>
        <tr>
            <td>Camisa</td>
            <td>Amarelo</td>
            <td>S</td>
            <td><%= @camisaAmarelaS %></td>
        </tr>
        <tr>
            <td>Camisa</td>
            <td>Amarelo</td>
            <td>M</td>
            <td><%= @camisaAmarelaM %></td>
        </tr>
        <tr>
            <td>Camisa</td>
            <td>Amarelo</td>
            <td>G</td>
            <td><%= @camisaAmarelaG %></td>
        </tr>
        <!-- Blusas -->
        
          <tr>
            <td>Blusa</td>
            <td>Preto</td>
            <td>S</td>
            <td><%= @camisaPretaS %></td>
        </tr>
        <tr>
            <td>Blusa</td>
            <td>Preto</td>
            <td>M</td>
            <td><%= @camisaPretaM %></td>
        </tr>
        <tr>
            <td>Blusa</td>
            <td>Preto</td>
            <td>G</td>
            <td><%= @camisaPretaG %></td>
        </tr>
        <tr>
            <td>Blusa</td>
            <td>Amarelo</td>
            <td>S</td>
            <td><%= @camisaAmarelaS %></td>
        </tr>
        <tr>
            <td>Blusa</td>
            <td>Amarelo</td>
            <td>M</td>
            <td><%= @camisaAmarelaM %></td>
        </tr>
        <tr>
            <td>Blusa</td>
            <td>Amarelo</td>
            <td>G</td>
            <td><%= @camisaAmarelaG %></td>
        </tr>
        
       
    </tbody>
</table>